/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css starts here*/
*, *:before, *:after {
	box-sizing: border-box;
}
.wrapper{
	max-width: 960px;
	margin: 0 auto;

}
.header{
	background-color: #0F0F0F;
	padding: 30px 100px;
	border-bottom: 2px solid #4f4e53;
	margin: 0 auto;
}
.header h1{
	font-size: 30px;
	color: white;
	float: left;
	font-weight: bold;
}
.navmenu{
	float: right;
}
.navmenu a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding-left: 18px;
}
main{
	background-color: #0F0F0F;
	height: calc(100vh - 90px);
}
.video{
	padding-top: 30px;
	width: 560px;
	height: 315px;
	margin: 0 auto;
}
.channel{
	margin-top: 120px;
}
.name{
	float: left;
	display: block;
	color: white;
	padding: 12px 34px;
  	border: 2px solid #ffffff;
  	border-radius: 8%;
 	font-size: 20px;
  	background: transparent;
  	color: #ffffff;
  	margin: 20px;
  	box-shadow: 0 0 13px 0 #ffffff; 

}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}